# Copia este archivo a .env y completa los valores
# Genera SECRET_KEY con: python -c "import secrets; print(secrets.token_hex(50))"
SECRET_KEY="91b6be7af5014f601951082e4f01ad204200403ce6ae21a2f85645315111c474ab1707b101099cad50ef3b1d21da1ff4f61b"

# True en desarrollo, False en producción
DEBUG=False

# Hosts permitidos, separados por comas
ALLOWED_HOSTS=172.16.1.112,localhost

# PostgreSQL: postgres://usuario:contraseña@host:puerto/nombre_db
# SQLite (solo dev): sqlite:///db.sqlite3
DATABASE_URL=postgres://estacio:server_segura_2026@localhost:5432/estacio_meteo

# Credenciales de la estación Bresser (configurar en "Other Server" de la estación)
# Genera STATION_KEY con: python -c "import secrets; print(secrets.token_hex(32))"
STATION_ID=meteo
STATION_KEY="7c4fc02b688fb9a75c343855e195b8a9ad01fd686be22ba1d33731e689cddfbe"

# Email (dejar vacío para usar consola en desarrollo)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=meteoildefonso@gmail.com
EMAIL_HOST_PASSWORD=server_segura_2026
DEFAULT_FROM_EMAIL=meteoildefonso@gmail.com

AEMET_API_KEY="eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhbWE5MjY4QGdtYWlsLmNvbSIsImp0aSI6IjIxZjNiNjYxLTJkYzctNGI3MC04MDYxLTU4M2FhOTAxZjc0ZCIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4OTAyMDI2LCJ1c2VySWQiOiIyMWYzYjY2MS0yZGM3LTRiNzAtODA2MS01ODNhYTkwMWY3NGQiLCJyb2xlIjoiIn0.FLdhqsXio4BVI1kY3e5Vzo0fxrpXtOeTnblL3eno9vI"
